<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>secbrain</title>
  <link rel="stylesheet" href="__STATIC__/css/layui.css">
</head>
<body>
  <!-- 主体 -->
  <div class="layui-row">
    <div style="background-color:blanchedalmond;padding: 30vh 40% 0 40% ;min-height: 100vh">
      <form class="layui-form" lay-filter="login" action="" method="POST">
        <div class="layui-form-item">
          <label class="layui-form-label">用户名</label>
          <div class="layui-input-block">
            <input type="text" name="name" lay-verify="required" placeholder="请输入用户名" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">秘钥</label>
          <div class="layui-input-block">
            <input type="password" name="password" lay-verify="required" placeholder="请输入秘钥" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">记住我</label>
          <div class="layui-input-block">
            <input name="remember_me" type="checkbox" value="1" {if cookie("remember_me")}checked{/if}>
          </div>
        </div>
        <div class="layui-form-item">
          <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit>登录</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <script src="__STATIC__/layui.all.js"></script>
<script type="text/javascript">
  var form=layui.form;
  form.on('submit(login)', function(data){
      return true;
  });

</script>
</body>
</html>