<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>secbrain</title>
  <link rel="stylesheet" href="__STATIC__/css/layui.css">
</head>
<body>
  <!-- 头部 -->
  {include file="public/header" /}
  <!-- 主体 -->
  <div class="layui-row main">
    <form class="layui-form" lay-filter="memory" action="" method="POST">
      <div class="layui-form-item">
        <!-- <label class="layui-form-label">标题</label> -->
        <div class="layui-input-block" style="margin-left: 0px;">
          <input type="text" name="title" lay-verify="required" placeholder="请输入标题" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item layui-form-text">
        <!-- <label class="layui-form-label">简介</label> -->
        <div class="layui-input-block" style="margin-left: 0px;">
          <textarea placeholder="请输入简介" name="describe" class="layui-textarea"></textarea>
        </div>
      </div>
      <div class="layui-form-item layui-form-text">
        <!-- <label class="layui-form-label">简介</label> -->
        <div class="layui-input-block" style="margin-left: 0px;">
          <textarea style="min-height: 50vh;" placeholder="请输入内容" name="content" class="layui-textarea"></textarea>
        </div>
      </div>
      <input type="text" name="categorys" style="display: none;">
      <div class="layui-form-item">
        <div class="layui-input-block">
          <button type="submit" class="layui-btn" lay-submit>立即提交</button>
          <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
      </div>
    </form>
  </div>
  <!-- 尾部 -->
  {include file="public/footer_1" /}
<script type="text/javascript">
  form.on('submit(memory)', function(data){
      var memory_category=document.getElementById("memory_category");
      var tags=memory_category.getElementsByTagName("button");
      
      var categorys="";
      for(var i=0;i<tags.length;i++){
        categorys+=tags[i].getAttribute("data-id")+",";
      }
      if(categorys.length>0){
        categorys=categorys.substring(0,categorys.length-1)
      }
      form.val("memory",{"categorys":categorys})
      return true;
  });
</script>
</body>
</html>