<style>
    .main {
      min-height: 100vh;
      background-color:blanchedalmond;
      padding: 30px 10% 0 10% 
    }
</style>
<div style="height: 50px; background-color: black;" class="layui-row">
    <a style="float: right;color:aquamarine;" href="{:url('pc/memory/add')}">setter</a style="float: right;color:aquamarine;">
    <span style="float: right;color:aquamarine;">|</span style="float: right;color:aquamarine;">
    <a style="float: right;color:aquamarine;" href="/">getter</a>
    
</div>