<div style="height: 50px; background-color: rgb(34, 27, 27);position:fixed;bottom:0px;width: 100%;
padding: 0 10px 0 10px;" class="layui-row">
    <div class="layui-col-xs4">
        <button style="margin:5px 0 0 12%;" id="target" data-method="offset" data-type="t" class="layui-btn layui-btn-normal">getter</button>
    </div>
    <div class="layui-col-xs4">
        <button style="margin:5px 0 0 12%;" onclick="alert1()" data-method="offset" data-type="t" class="layui-btn layui-btn-normal">tag</button>
    </div>
    <div class="layui-col-xs4">
        <button style="margin:5px 0 0 12%;" data-method="offset" data-type="t" class="layui-btn layui-btn-normal">setter</button>
    </div>
</div>
<!-- tag -->
<div class="layui-col-md3" style="display: none;" id="tag">
    <button type="button" class="layui-btn"><i class="layui-icon"></i></button>
    <br>
    <button onclick="sdfsd()" type="button" class="layui-btn layui-btn-sm layui-btn-primary layui-btn-radius">原始按钮</button>
    <button type="button" class="layui-btn layui-btn-sm layui-btn-radius">默认按钮</button>
    <button type="button" class="layui-btn layui-btn-sm layui-btn-normal layui-btn-radius">百搭按钮</button>
    <button type="button" class="layui-btn layui-btn-sm layui-btn-warm layui-btn-radius">暖色按钮</button>
    <button type="button" class="layui-btn layui-btn-sm layui-btn-danger layui-btn-radius">警告按钮</button>
    <button type="button" class="layui-btn layui-btn-sm layui-btn-primary layui-btn-radius">原始按钮</button>
    <button type="button" class="layui-btn layui-btn-sm layui-btn-radius">默认按钮</button>
    <button type="button" class="layui-btn layui-btn-sm layui-btn-normal layui-btn-radius">百搭按钮</button>
    <button type="button" class="layui-btn layui-btn-sm layui-btn-warm layui-btn-radius">暖色按钮</button>
    <button type="button" class="layui-btn layui-btn-sm layui-btn-danger layui-btn-radius">警告按钮</button>
    <button type="button" class="layui-btn layui-btn-sm layui-btn-primary layui-btn-radius">原始按钮</button>
    <button type="button" class="layui-btn layui-btn-sm layui-btn-radius">默认按钮</button>
    <button type="button" class="layui-btn layui-btn-sm layui-btn-normal layui-btn-radius">百搭按钮</button>
    <button type="button" class="layui-btn layui-btn-sm layui-btn-warm layui-btn-radius">暖色按钮</button>
    <button type="button" class="layui-btn layui-btn-sm layui-btn-danger layui-btn-radius">警告按钮</button>
</div>
<script src="__STATIC__/layui.all.js"></script>
<script>
//由于模块都一次性加载，因此不用执行 layui.use() 来加载对应模块，直接使用即可：
  var layer = layui.layer
  $ = layui.jquery;
  layer.msg('Hello World');
  function alert1(){
    layer.open({
    title:'tag',
    type: 1, 
    offset: 'b',
    content: $("#tag")
    });
  }
  function sdfsd(){
      location.href="http://127.0.0.1:8000/mobile/memory/list";
  }
  $("#target").on({    
        touchstart: function(e) {   
            // 长按事件触发    
            timeOutEvent = setTimeout(function() {    
                timeOutEvent = 0;    
                alert('你长按了');    
            }, 400);    
            //长按400毫秒     
            // e.preventDefault();      
        },    
        touchmove: function() {    
            clearTimeout(timeOutEvent);    
            timeOutEvent = 0;    
        },    
        touchend: function() {    
            clearTimeout(timeOutEvent);    
            if (timeOutEvent != 0) {    
                // 点击事件    
                // location.href = '/a/live-rooms.html';    
                alert('你点击了');    
            }    
            return false;    
        }    
    })  
</script> 