<!-- position:fixed;bottom:0px; -->
<div style="height: 50px; background-color: rgb(34, 27, 27);position:fixed;bottom:0px;width: 100%;
padding: 0 10px 0 10px;" class="layui-row">
    <div class="layui-col-xs4">
        <button style="margin:5px 0 0 12%;" onclick='location.href="{:url('mobile/memory/index')}"' data-method="offset" data-type="t" class="layui-btn layui-btn-normal">getter</button>
    </div>
    <div class="layui-col-xs4">
        <button style="margin:5px 0 0 12%;" onclick="alertTags()" data-method="offset" data-type="t" class="layui-btn layui-btn-normal">tag</button>
    </div>
    <div class="layui-col-xs4">
        <button style="margin:5px 0 0 12%;" onclick='location.href="{:url('mobile/memory/add')}"' data-method="offset" data-type="t" class="layui-btn layui-btn-normal">setter</button>
    </div>
</div>
<!-- tag -->
<div style="display: none; padding: 30px 30px;" id="tag">
    {foreach name="categoryList" item="val" }
        <a href="{:url('mobile/memory/index', 'category_id='.$val['id'])}">
            <button type="button" class="layui-btn layui-btn-sm layui-btn-primary layui-btn-radius">{$val['name']}</button>
        </a>
    {/foreach}
</div>
<script src="__STATIC__/layui.all.js"></script>
<script>
//由于模块都一次性加载，因此不用执行 layui.use() 来加载对应模块，直接使用即可：
  var layer = layui.layer
  $ = layui.jquery;
  function alertTags(){
    layer.open({
    title:'标签',
    type: 1, 
    offset: 'b',
    // maxmin: true,    //最大化最小化
    skin: 'layui-layer-lan',    
    shadeClose: true, //点击遮罩关闭层    
    area : ['100%' , 'auto'],  
    content: $("#tag")
    });
  }
</script> 